[Unit]
Description=Pre-configure U2UP config parameters during system boot.
DefaultDependencies=no
After=NetworkManager.service
Requires=basic.target

[Service]
Environment=HOME=/root
WorkingDirectory=-/root
Type=oneshot
ExecStart=-/bin/bash /usr/bin/u2up-pre-config.sh &
ExecStartPost=/bin/systemctl isolate multi-user.target
TimeoutStartSec=20
ExecStopPost=/bin/systemctl isolate multi-user.target
TTYPath=/dev/console
TTYReset=yes
TTYVHangup=yes
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes

